<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="An App for Spinoza\'s Ethics">
  <meta name="author" content="Aron Eidelman">

  <title>Spinozapp</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!-- Vue -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <div id="app">
    <!-- Top Menu -->
    <div class="top">
      <div id="nav-icon" class="menu-toggle open">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <img src="images/spinoza-menu.png">
      <h1>SpinozApp</h1>
    </div>

    <!-- Wrapper -->
    <div id="wrapper" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <!-- Menu -->
        <ul id="menu"> 
          <li class="menu-item" v-for="content in contents"><a @click="onChange(content)">
            {{ content.title }}</a></li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <transition name="fade">
            <div class="row" class="content-area" id="content">
              <div class="col-sm-12">
                <h2>{{ title }} - <i>{{ subtitle }}</i></h2>
                <p v-for="description in descriptions">{{ description }}</p>
              </div>
              <div class="col-sm-4">
                <h3>Weaken</h3>
                <ul>
                  <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                  <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer
                  ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Resolve</h3>
                <ul>
                  <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                  <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Reference</h3>
                <ul>
                  <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer
                  ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                  <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                </ul>
              </div>
            </div>
          </transition>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div><!-- /#wrapper -->
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>

  <script type="text/javascript">
    // jQuery for Menu

    $(document).ready(function(){

      // Menu Toggle
      $(".menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });

      // Icon Toggle
      $('#nav-icon').click(function(){
        $(this).toggleClass('open');
      });
      $('.menu-item a').on('click', function(){
        i = $(this).attr('id');
        console.log(i);
        var title = $(this).html();
        $('#focus-title').html(title);
      });

    });
  </script>
</body>

</html>
